
@{
    @model HotelCheckInSystem.Models.User;
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>


@using (Html.BeginForm())
{
    <div>
        <div>
            <label>User Name</label>
            @Html.EditorFor(model => model.UserName) *
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        <div>
            <label>Password</label>
            @Html.EditorFor(model => model.Password) *
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div>
            @if (@ViewBag.NotValidUser != null)
            {

                <label> @ViewBag.NotValidUser</label>
            }
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </div>
}
